/* font-family: 'Patrick Hand SC', cursive; */
/* font-family: 'Roboto', sans-serif; */

body {
  background-color: black;
}

.title-container {
  display: flex;
  justify-content: center;
}

.title-text {
  font-size: 1em;
  color: rgb(84, 247, 106);
}

#rick-morty-logo {
  display: flex;
  width: 60%;
  font-family: 'Patrick Hand SC', cursive;
}

#image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#image {
  width: 65%;
}

#img-caption {
  color: rgb(167, 142, 142);
  font-family: Roboto, sans-serif;
  text-align: center;
}

.main-characters {
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.char-div {
  width: 15vw;
}

.char-img {
  width: auto;
  height: 8em;
}

.char-name {
  text-align: center;
}
